
    <nav class="navbar">
        <a href="{{ home_url }}" class="navbar-brand"><img src="{{ url('theme://images/logo-navbar.png') }}" alt="LOGO ALT FIXME" /></a>
        <menu class="nav__links">
            {% for p in pages.children.visible %}
                {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
                {% if p.route != '/' %}
                    {% if p.children.visible.count == 0 %}
                        <li>
                            <a class="navlink {{ current_page|e }}" href="{{ p.url|e }}">{{ p.menu|e }}</a>
                        </li>
                    {% else %}
                        <li class="has-children">
                            <a class="navlink {{ current_page|e }}" href="{{ p.url|e }}">{{ p.menu|e }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
                        <li>
                <a class="navlink" href="http://www.eshoprebornk.com/">Eshop</a>
            </li>
        </menu>
        <button class="fa fa-bars hamburger menu"></button>
    </nav>
<div class="overlay">
    <a class="close">&times</a>
    <div class="overlay__content">
        <ul>
            {% for p in pages.children.visible %}
                {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
                {% if p.children.visible.count == 0 %}
                    <li>
                        <a class="navlink {{ current_page|e }}" href="{{ p.url|e }}">{{ p.menu|e }}</a>
                    </li>
                {% else %}
                    <li class="has-children">
                        <a class="navlink {{ current_page|e }}" href="{{ p.url|e }}">{{ p.menu|e }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>


