{% extends 'partials/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .footer-container {
            margin-top: 0rem !important;
        }
    </style>
{% endblock %}

{% block content %}   
    <div class="kontakt-container font">
        {% include 'partials/navigation.html.twig' %}
        <div class="kontakt-content">
            <section class="kontakt-sub-container kontakt-text">
                <div class="kontakt-info">
                    <div class="kontakt-osoba">
                        <img class="osoba-img" src="{{ page.media['kessner.png'].url }}" alt="Kontaktní osoba">
                        <div class="osoba-info">
                            <h3 >František Kessner</h3>
                            <p class="sm">+420 603 472 183</p>
                            <a class="sm" href:"mailto:info@rebornk.com">info@rebornk.com</p>
                        </div>
                    </div>
                    <div class="kontakt-socials">
                        <div class="social-container">
                            <a href="https://www.facebook.com/RebornKofficial" target="_blank"><img src="{{ page.media['facebook.png'].url }}" alt="Facebook"></a>
                            <a class="font sm bk" href="https://www.facebook.com/RebornKofficial" target="_blank">@RebornKofficial</a>
                        </div>
                        <div class="social-container">
                            <a href="https://www.facebook.com/RebornKofficial" target="_blank"><img src="{{ page.media['instagram.png'].url }}" alt="Instagram"></a>
                            <a class="font sm bk" href="https://www.instagram.com/rebornk_creative/" target="_blank">@rebornk_creative</a>
                        </div>
                    </div>
                    <div class="kontakt-adress-info">
                        <h3>Green Planet Investment s.r.o</h3>
                        <p>Piletická 61/36a</p>
                        <p>Hradec Králové 500 03</p>
                        <p>Česká republika</p>
                        <p>IČO: 275 388 00</p>
                        <p>DIČ: CZ 275 388 00</p>
                    </div>
            </section>
            <section class="kontakt-sub-container kontakt-form">
                <h2 class="font bk lg bold">Kontaktujte nás!</h2>
                {% include "forms/form.html.twig" %}
            </section>
        </div>
    </div>
{% endblock %}